<div class="container col-md-10">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3>Artistas</h3>
      <button (click)="irAFormulario()" class="btn btn-primary">Nuevo Artista</button>
      <button (click)="irAFormularioConAlbumesYCanciones()" class="btn btn-primary">
        Nuevo Artista con Álbumes y Canciones
      </button>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Nacionalidad</th>
            <th>Álbumes</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artista of artistas">
            <td>{{ artista.id }}</td>
            <td>{{ artista.nombre }}</td>
            <td>{{ artista.fechaNacimiento }}</td>
            <td>{{ artista.nacionalidad }}</td>
            <td>{{ artista.albumes ? artista.albumes : '-' }}</td>
            <td>
              <button (click)="editarArtista(artista.id)" class="btn btn-warning">Editar</button>
              <button (click)="Delete(artista)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Paginación -->
      <div class="pagination d-flex justify-content-center align-items-center mt-3">
        <button (click)="cambiarPagina(-1)" [disabled]="page === 0" class="btn btn-secondary mx-2">Anterior</button>
        <span>Página {{ page + 1 }} de {{ totalPages }}</span>
        <button (click)="cambiarPagina(1)" [disabled]="page >= totalPages - 1" class="btn btn-secondary mx-2">Siguiente</button>
      </div>
    </div>
  </div>
  <button (click)="irAHome()" class="btn btn-secondary mt-3">Inicio</button>
</div>
