<div class="form-wrapper">
  <form [formGroup]="artistaForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" formControlName="nombre" type="text" class="full-width" />
    </div>

    <div>
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" class="full-width" />
    </div>

    <div>
      <label for="nacionalidad">Nacionalidad:</label>
      <input id="nacionalidad" formControlName="nacionalidad" type="text" class="full-width" />
    </div>

    <button type="submit" [disabled]="artistaForm.invalid">
      {{ isEditMode ? 'Actualizar' : 'Crear' }}
    </button>
  </form>
</div>
