<div class="card-header d-flex justify-content-between align-items-center">
  <h3>Álbumes</h3>
  <div>
    <button (click)="irAFormulario()" class="btn btn-primary">Nuevo Álbum</button>
    <button (click)="irAFormularioCanciones()" class="btn btn-primary">Nuevo Álbum con Canciones</button>
  </div>
</div>
<div class="card-body table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Año de Lanzamiento</th>
        <th>Descripción</th>
        <th>Número de Canciones</th>
        <th>URL de la Portada</th>
        <th>Canciones</th> 
        <th>Acciones</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of albumes">
        <td>{{album.id}}</td>
        <td>{{album.titulo}}</td>
        <td>{{album.anoLanzamiento}}</td>
        <td>{{album.descripcion}}</td>
        <td>{{album.numeroCanciones}}</td>
        <td>{{album.urlPortada}}</td>
        <td>{{album.canciones ? album.canciones : '-'}}</td> 
        <td>
          <button (click)="editarAlbum(album.id)" class="btn btn-warning">Editar</button>
          <button (click)="Delete(album)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="irAHome()" class="btn btn-secondary">Inicio</button>
</div>