<div class="form-wrapper">
  <form [formGroup]="albumForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
      <label for="titulo">Título:</label>
      <input id="titulo" formControlName="titulo" type="text" class="full-width" />
    </div>

    <div>
      <label for="anoLanzamiento">Año de Lanzamiento:</label>
      <input id="anoLanzamiento" formControlName="anoLanzamiento" type="number" class="full-width" />
    </div>

    <div>
      <label for="descripcion">Descripción:</label>
      <input id="descripcion" formControlName="descripcion" type="text" class="full-width" />
    </div>

    <div>
      <label for="numeroCanciones">Número de canciones:</label>
      <input id="numeroCanciones" formControlName="numeroCanciones" type="number" class="full-width" />
    </div>

    <div>
      <label for="urlPortada">Url Portada:</label>
      <input id="urlPortada" formControlName="urlPortada" type="text" class="full-width" />
    </div>

    <button type="submit" [disabled]="albumForm.invalid">
      {{ isEditMode ? 'Actualizar' : 'Crear' }}
    </button>
  </form>
</div>
