<div class="form-wrapper">
  <form [formGroup]="cancionForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
      <label for="titulo">Titulo de la Canción:</label>
      <input id="titulo" formControlName="titulo" type="text" class="full-width" />
    </div>

    <div>
      <label for="duracion">Duración:</label>
      <input id="duracion" formControlName="duracion" type="number" class="full-width" />
    </div>

    <div>
      <label for="urlCancion">Url de la Canciión:</label>
      <input id="urlCancion" formControlName="urlCancion" type="text" class="full-width" />
    </div>

    <button type="submit" [disabled]="cancionForm.invalid">
      {{ isEditMode ? 'Actualizar' : 'Crear' }}
    </button>
  </form>
</div>
